@import "src/components/App/theme";

.layer0 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    border-bottom: 1px solid #536577;
    padding-bottom: 15px;
    padding-top: 30px;
    &:first-child {
        padding-top: 0;
    }
}
.layer1 {
    border-bottom: 1px solid #536577;
    border-left: 1px solid #536577;
    border-right: 1px solid #536577;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 600;
    padding-left: 44px;
    box-sizing: border-box;
    line-height: 50px;
    height: 50px;
}

.action {
    color: rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    background: -webkit-linear-gradient(left,rgba(205,35,136,0.5),rgba(12,105,176,0.5));
    background: -o-linear-gradient(right,rgba(205,35,136,0.5),rgba(12,105,176,0.5));
    background: -moz-linear-gradient(right,rgba(205,35,136,0.5),rgba(12,105,176,0.5));
    background: linear-gradient(to right,rgba(205,35,136,0.5),rgba(12,105,176,0.5));
}

.finish{
    color: rgb(255, 255, 255);
}
