@import "src/components/App/theme";
@import "src/components/App/_mixins";

.box {
  width: 100%;
  max-width: 1225px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  height: auto;
  margin-top: 25px;
}

.cardContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 698px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  // height: 540px;
}
.additionStyle {
  justify-content: flex-start;
}

.empty {
  margin-top: 60px;
  text-align: center;
}

.rankMargin {
  margin: 0 28px;
}
