@import "src/components/App/theme";
@import "src/components/App/_mixins";

.box {
  width: 100%;
  max-width: 1225px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 20px;
}


.customWindowContentClass {
  > div {
    margin: 0;
  }
}
